/*others*/
* {
  margin: 0;
  padding: 0; }

h1, h2, h3, a, p {
  font-family: "Tahoma"; }

.container {
  /*background-color: #ccc;*/
  padding: 0; }

/*header*/
#top-border {
  border-top: 4px solid #24313f; }

.navbar-default {
  border: 0;
  background-color: #fff;
  padding-top: 10px; }
  .navbar-default .navbar-nav {
    margin-top: 18px;
    margin-left: 30px; }
    .navbar-default .navbar-nav .active a {
      background-color: transparent;
      color: #1abc9c; }
    .navbar-default .navbar-nav .active a:hover {
      background-color: transparent;
      color: #1abc9c; }
    .navbar-default .navbar-nav li {
      margin-right: 16px;
      text-transform: uppercase; }
      .navbar-default .navbar-nav li a:hover {
        color: #1abc9c;
        background-color: transparent; }

ul.nav.navbar-nav.navbar-right {
  margin-top: -2px; }

/*banner*/
#banner {
  width: 100%;
  margin-top: 10px;
  background-color: #1abc9c; }

/*callout*/
#callout {
  padding-top: 80px;
  padding-bottom: 80px; }
  #callout h2 {
    color: #1abc9c;
    text-transform: uppercase;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    margin-top: 5px; }
  #callout img {
    margin: 0 auto; }
  #callout p {
    text-align: center;
    color: #8f8f8f;
    font-size: 12px;
    line-height: 20px;
    margin-top: 15px; }

/*about page*/
#about_bg {
  width: 100%;
  background-color: #ecf0f1;
  padding-top: 80px;
  padding-bottom: 80px; }
  #about_bg h1 {
    font-size: 60px;
    color: #727474;
    text-align: right;
    font-weight: bold;
    text-transform: uppercase; }
  #about_bg p {
    font-size: 14px;
    color: #7c7e7e;
    line-height: 35px;
    text-align: center;
    margin-top: 35px; }

/*services*/
#services_bg {
  width: 100%;
  background-color: #1abc9c;
  padding-top: 80px;
  padding-bottom: 80px; }
  #services_bg h1 {
    font-size: 60px;
    color: #fff;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase; }
  #services_bg h2 {
    font-size: 40px;
    color: #fff;
    text-decoration: underline;
    font-weight: normal;
    margin-top: 50px;
    text-align: center; }
  #services_bg ul {
    margin-top: 20px; }
    #services_bg ul li {
      color: #fff;
      font-size: 22px;
      margin-top: 15px;
      text-align: center;
      list-style: none; }
