/*others*/
*{
  margin: 0;
  padding: 0;
}
h1,h2,h3,a,p{
  font-family: "Tahoma";
}
.mdtop60{margin-top: 60px;}
.mdtop130{margin-top: 130px;}
.container{
  /*background-color: #ccc;*/
  padding: 0;
}
/*header*/
#top-border{
   border-top: 4px solid #24313f;
}
.navbar-default{
  border: 0;
  background-color: #fff;
  padding-top: 10px;
  .navbar-nav{
    margin-top: 18px;
    margin-left: 30px;
    .active {
      a{
         background-color: transparent;
         color: #1abc9c;
      }
      a:hover{
        background-color: transparent;
        color: #1abc9c;
      }
    }
    li{
      margin-right: 16px;
      text-transform: uppercase;
      a:hover{
        color: #1abc9c;
        background-color: transparent;
      }
    }

  }
}
ul.nav.navbar-nav.navbar-right{
  margin-top: -2px;
}
/*banner*/
#banner{
  width: 100%;
  margin-top: 10px;
  background-color: #1abc9c;

}
/*callout*/
#callout{
  padding-top: 80px;
  padding-bottom: 80px;
  h2{
    color: #1abc9c;
    text-transform: uppercase;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    margin-top: 5px;
  }
  img{
    margin: 0 auto;
  }
  p{
    text-align: center;
    color: #8f8f8f;
    font-size:12px;
    line-height: 20px;
    margin-top: 15px;
  }
}
/*about page*/
#about_bg{
  width: 100%;
  background-color: #ecf0f1;
  padding-top: 80px;
  padding-bottom: 80px;
  h1{
    font-size: 60px;
    color: #727474;
    text-align: right;
    font-weight: bold;
    text-transform: uppercase;
  }
  p{
    font-size: 14px;
    color: #7c7e7e;
    line-height: 35px;
    text-align: center;
    margin-top: 35px;
  }
}
/*services*/
#services_bg{
  width: 100%;
  background-color: #1abc9c;
  padding-top: 80px;
  padding-bottom: 80px;
  h1{
    font-size: 60px;
    color: #fff;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  h2{
    font-size: 40px;
    color: #fff;
    text-decoration: underline;
    font-weight: normal;
    margin-top: 50px;
    text-align: center;
  }
  ul{
    margin-top: 20px;
    li{
      color: #fff;
      font-size: 22px;
      margin-top: 15px;
      text-align: center;
      list-style: none;
    }
  }
}

/*portfolio*/
#portfolio{
  padding-top: 80px;
  padding-bottom: 80px;
  h1{
    font-size: 60px;
    color: #727474;
    text-align: right;
    font-weight: bold;
    text-transform: uppercase;
  }
  h2{ 
  font-size: 32px;
  color: #30c3a6;
  padding-top: 88px;
  font-weight: bold;
  }
}

/*override*/
.cbp-so-side{width: 100% !important;padding:0 !important;min-height: 0 !important;}
.cbp-so-side-left{text-align: left !important;}
.cbp-so-side-right{text-align: right !important;}
.cbp-so-scroller{margin-top: 0 !important;}